/* background is all in one color and margin established */
body {
  background: linear-gradient(#6cdac4, #99a1f5) fixed;
  margin: 2%;
  font-family: Monomaniac One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  align-items: center;
  text-align: center;
}

/* WATER WASTE - The title of the page will always be the title of the app */
h1 {
  top: 27.22%;
  bottom: 48.43%;

  font-family: Monomaniac One;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 145px;

  align-items: center;
  text-align: center;
  color: #000000;
}

h3 {
  top: 27.22%;
  bottom: 48.43%;

  font-family: Monomaniac One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  align-items: center;
  text-align: center;

  color: #000000;
}

button {
    background: #b4dcff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CalibrateNewDevice {
  padding: 18px 29px;
}

.AddTime {
  padding: 18px 78px;
}



#calibrate {
  position: absolute;
  left: 40.89%;
  right: 40.89%;
  top: 27.22%;
  bottom: 68.43%;
}

#start {
  padding: 18px 29px;
  margin: 2em;
}

#confirm {
  padding: 18px 21px;
  margin: 2em;
}
#stop {
  padding: 18px 34px;
  margin: 2em;
}

#go {
  padding: 18px 35px;
  margin: 2.5em;
}
